
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  ---light-first-color: #16D8FF;
  --dark-first-color: #529CB3;
  --green-alt-color: #C9D240;
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: #000709;
  --container-color: hsl(219, 4%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Basic', sans-serif;
  --body-heading-font: 'Orbitron', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #011114;
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.grid {
  display: grid;
}

.flex
{
  display: flex;
}

.button-primary
{
  display: flex;
  margin: 0 auto;
  background-color: var(--green-alt-color);
  color: #000;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}
.section {
  padding: 3.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  /* margin-bottom: 2.5rem;  */
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  justify-self: center;
  align-self: center;
}

.image__slider
{
  margin: 0 auto;
  width: 120px;
  height: 50px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  column-gap: 0.8rem;
  margin-bottom: 1rem;
}

.image__slider-mov
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #013055;
  width: 50px;
  border-radius: 0.6rem;
  position: sticky;
  border: none;
}

.image__slider-mov i
{
  color: var(--white-color);
  font-size: 1.75rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header
{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav
{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle
{
  color: var(--title-color);
  display: inline-flex;
}

.nav__logo
{
  align-items: center;
  text-transform: uppercase;
  column-gap: .22rem;
  font-family: var(--body-heading-font);
  font-weight: 500;
  transition: .3s;
  font-size: 1.2rem;
}

.nav__logo img
{
  width: 1.25rem;
}


.nav__logo:hover
{
  color: var(---light-first-color);
}

.nav__toggle
{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .375s;
}

@media screen and (max-width: 767px)
{

  body
  {
    /* background-image: url('../img/bg-body-image-1.jpg'); */
    background-color: #011114;
  }
  .nav__menu
  {
    position: fixed;
    background-color: #011a20;
    top: 0;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(96px); */
    transition: .3s;
    text-align: center;
  }
}

.nav__list
{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3.75rem;
  padding-top: 8rem;
}

.nav__link
{
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover
{
  color: var(---light-first-color);
  top: 1rem;
  right: 1rem;

}


/* LOG-IN BUTTON */
.nav__logIn
{
  display: block;
  color: var(--title-color);
  border: solid 1px var(--title-color);
  border-radius: .4rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 5.25rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 116px;
  padding: 16px;
  transition: .8s;

}
.nav__logIn:hover
{
  color: #16D8FF;
  border: solid 1px var(---light-first-color);
  border-radius: .6rem;
}
/* ______________ */


/* WALLET-BUTTON */
.nav__button
{
  background-color: transparent;
  color: var(--title-color);
  border: solid 1px var(--green-alt-color);
  padding: 18px 24px;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  border-radius: .4rem;
}
.nav__button:hover
{
  color: #000;
  background-color: var(--green-alt-color);
}
/* ____________________ */


.nav__close
{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}



/* Show menu */
.show-menu
{
  left: 0;
}

/* Change background header */
.scroll-header
{
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #011114;
  box-shadow: 0 3px 6px #529CB3;
  opacity: .990;
}
/* Active link */


/*=============== HOME ===============*/
.home
{
  position: relative;
  overflow: hidden;
}

.home__container
{
  position: relative;
  padding-top: 50px;
  row-gap: 1.5rem;
}

.home__data
{
  text-align: center;
}

.home__title
{
  font-size: var(--h1-font-size);
  margin-bottom: .15rem;
  font-family: var(--body-heading-font);
  color: var(--white-color);
  font-weight: 700;
}

.home__subtitle
{
  font-size: 1.4rem;
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  margin-bottom: 0.875rem;
}

.home__description
{
  font-size: .875rem;
}

/* CARDS */
.home__cards
{
  padding-top: 1rem;
}

.home__cards-info
{
  position: relative;
  width: 280px;
  background-color: #013055;
  height: 280px;
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.home__cards-img
{
  width: 280px;
  height: 225px;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.home__cards-info:hover .user__data-img
{
  transform: translateY(-.15rem);
  border: 1.5px solid var(--dark-first-color);
}


.home__cards-int
{
  background-color: transparent;
  width: 40px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  column-gap: .2rem;
  top: 0;
  right: 0;
  margin-top: 0.875rem;
  margin-right: .675rem;
  display: none;
  cursor: pointer;
}

.appaer-int
{
  display: inline-flex;
}
/* ___________________________INTERACTION FUNC_________________ */
.home__cards-int i
{
  font-size: 1.05rem;
  color: var(---light-first-color);
}

.home__cards-number
{
  font-size: 1rem;
  color: var(---light-first-color);
}

/* CARDS-DETAILS */
.home__cards-user
{
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.05rem;
}

.home__cards-user .user__data
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
}

.home__cards-user .user__current
{
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* CARDS DETAILS USER       DATA*/
.user__data-img
{
  width: 36px;
  height: 38px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 7.5px;
}

.user__data-info
{
  display: grid;
}

.user__data-name
{
  color: var(--green-alt-color);
  font-size: 0.75rem;
  font-weight: 400;
}

.user__data-timing
{
  color: var(---light-first-color);
  font-size: 0.595rem;
  font-weight: 400;
}

/* CARDS DETAILS CURRENT */
.user__current-img
{
  width: 13px;
  height: 17px;
  margin-left: .4rem;
  margin-right: .2rem;
}

.user__current-info
{
  display: grid;
  margin-left: .1rem;
}

.user__current-statement
{
  font-size: 0.625rem;
  color: #16D8FF;
  font-weight: 400;
  height: 15px;
  width: 60px;
}

.user__current-price
{
  font-size: .625rem;
  color: #16D8FF;
  font-weight: 400;
}

.user__current-button
{
  font-size: 0.575rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: #013055;
  border-radius: .3rem;
  margin-right: .65rem;
  padding: 0.15rem .7rem;
  outline: none;

}


/* HOME BUTTON */
.home__button
{
  /* margin-top: 1.25rem; */
  justify-self: center;
  display: inline-flex;
  column-gap: 1.5rem;
  align-items: center;
}

.home__button-primary
{
  display: inline-flex;
  justify-content: center;
  background-color: var(--green-alt-color);
  color: #000;
  padding: .675rem 1.25rem;
  border-radius: .5rem;
  font-weight: 500;
}

.home__button-secondary
{
  color: var(--green-alt-color);
  font-size: var(--h3-font-size);
  display: inline-flex;
  column-gap: .5rem;
  align-items: center;
  font-weight: 500;
}

.home__button-secondary i
{
  color: var(--green-alt-color);
  font-size: 28px;
  mix-blend-mode: blur(10px);
  animation: playButton 4s infinite;
  box-shadow: 0 0 10px var(--green-alt-color);
  border-radius: 50%;
}

@keyframes playButton 
{
  0%
  {
    box-shadow: 0 0 8px var(--green-alt-color);
  }
  50%
  {
    box-shadow: 0 0 24px var(--green-alt-color);
  }
}

/* CARD SHAPE */
.card__shape
{
  background-color: #b5f3ff;
  filter: blur(50px);
  border-radius: 50%;
  width: 280px;
  height: 250px;
  position: absolute;
  left: calc(50% - 135px);
  top: 280px;
}

/* Swiper class */
.swiper-pagination-bullet
{
  background-color: var(--white-color);
}
.swiper-pagination-bullet-active
{
  background-color: var(---light-first-color);
}
/* Button animate */


/*=============== BUTTON ===============*/


/*=============== WORK ===============*/
.work__container
{
  display: grid;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.work__title
{
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  font-size: var(--h2-font-size);
  justify-self: center;
  align-self: center;
  margin-top: .5rem;
}

.work__data
{
  justify-content: center;
  /* row-gap: 1.5rem; */
}

.work__cards
{
  background-color: transparent;
  text-align: center;
  width: 240px;
  height: 200px;
}
/* =============WORKS-CARDS-IMAGE======== */
.work__cards-img
{
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  background-color: var(--green-alt-color);
  cursor: pointer;
}

.work__cards-img i
{
  color: #000;
  font-size: 1.5rem;
}
/* ______________________________________ */
/*==============WORKS-CARDS-DATA========== */
.work__cards-title
{
  color: var(--white-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--h3-font-size);
}
.work__cards-description
{
  font-size: .875rem;
}
/*___________________________________________*/

/*=============== AUCTIONS ===============*/
.auction__title
{
  text-align: initial;
  margin-bottom: 1.25rem;
}

.auction__data
{
  justify-content: center;
}


.auction__cards
{
  position: relative;
  width: 320px;
  min-width: 300px;
  height: 600px;
  background-color: #013055;
  border-radius: .8rem;
}

.auction__cards-content
{
  padding: 1.25rem;
  width: 100%;
  height: 90%;
}

.auction__cards-img
{
  height: 65%;
  width: 100%;
  border-radius: .8rem;
  position: relative;
}

.auction__cards-data
{
  width: 100%;
  height: 35%;
}

.auction__cards-timing
{
  display: inline-block;
  padding: 1.25rem 4rem;
  color: #fff;
  font-size: var(--h3-font-size);
  font-weight: bold;
  background-color: var(---light-first-color);
  position: absolute;
  opacity: .9;
  /* top: 17.81rem; */
  left: 1.25rem;
  bottom: 15.95rem;
  border-bottom-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

/* CARDS INFO */
.auction__cards-info
{
  row-gap: 1.5rem;
  padding-top: 2rem;
}

                /* CARDS INFO ENUN */
.auction__cards-enun
{
  justify-content: space-between;
  align-items: center;
  padding: 0 .395rem;
}

.auction__cards-title
{
  color: #fff;
  font-weight: 400;
  font-size: var(--h3-font-size);
}

.auction__cards-int
{
  display: inline-flex;
  column-gap: .4rem;
  align-items: center;
}

.auction__cards-int i
{
  color: #fff;
  font-size: var(--h3-font-size);
}
.auction__cards-number
{
  color: #fff;
  font-size: var(--h3-font-size);
}
/* _______________________________________________*/

                /* CARDS INFO USER */
.auction__cards-user
{
  column-gap: .8rem;
  align-items: center;
}
.auction__cards-user .user-img
{
  width: 17%;
  border-radius: 50%;
}

.auction__cards-group
{
  row-gap: .3rem;
}

.auction__cards-type
{
  color: #16D8FF;
  font-size: .925rem;
}

.auction__cards-name
{
  color: var(--green-alt-color);
  font-size: 1rem;
}

/*_________________________________________*/

              /* USER INFO CURRENT */
.auction__cards-current
{
  justify-content: space-between;
  padding: 0 .395rem;
}

.auction__cards-price
{
  color: var(--white-color);
}
/* _________________________________________ */
.auction__cards-button
{
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: var(---light-first-color);
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
}

/* ________________________________________ */

.auction__button
{
  margin: 0 auto;
  width: 120px;
  height: 50px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  column-gap: .8rem;
  margin-bottom: 2rem;
}

.mov-button
{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #013055;
  width: 50px;
  border-radius: .6rem;
  position: sticky;
  border: none;
}

.mov-button:hover
{
  border: 1px solid var(---light-first-color);
}

.mov-button i
{
  color: var(--white-color);
  font-size: 1.75rem;
}

.mov-button::after
{
  content: '';
}

.mov-button i:hover
{
  color: #fff;
  font-size: 1.8rem;
}

.auction__button-exp
{
  display: flex;
  margin: 0 auto;
  margin-top: 1.25rem;
  color: #000;
  font-weight: 700;
  margin-top: 1.75rem;
}

/*=============== PARTNERS ===============*/

.partner__logo
{
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 1rem;
}
.partner__logo-img
{
  height: 100px;
  transition: .3s;
  opacity: .8;
  width: 120px;
  object-fit: contain;
}

.partner__logo-img:hover
{
  opacity: 1;
}
/*=============== ARTISTS ===============*/

.artist__container
{
  background-color: #293553;
  padding: 1.5rem;
  border-radius: 1rem;
  height: auto;
  margin-top: 2rem;
}

.artist__content
{
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding-bottom: 1.25rem;
}
.artist__title
{
  text-align: initial;
  margin-bottom: 1.25rem;
}

.artist__card
{
  width: 100%;
  height: 80px;
  align-items: center;
  border: solid 1px #16D8FF;
  padding: 0 .5rem;
  border-radius: .6rem;
}

.artist__card-user
{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: .8rem;
  row-gap: .4rem;
}

.artist__card-img
{
  height: 80%;
  border-radius: 50%;
}

.artist__card-name
{
  color: var(--green-alt-color);
}

.artist__card-price
{
  color: #fff;
}

.artist__card-rate
{
  display: inline-block;
  border-left: solid 1px var(---light-first-color);
  width: 30%;
  height: 60%;
  text-align: center;
  padding-top: .4rem;
}

.artist__card-number
{
  color: #fff;
  font-weight: 700;
}

.artist__card-enun
{
  font-size: .675rem;
}

/*============= EXCLUSIVE =================*/
.exclusive__title
{
  text-align: initial;
  margin-bottom: 1.25rem;
}

.exclusive__img-container
{
  background-color: var(---light-first-color);
  border-radius: .8rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: .8rem;
}

.exclusive__img
{
  border-radius: .8rem;
  width: 100%;
}

.exclusive__coll
{
  margin-top: 1.5rem;
  row-gap: 1.75rem;
}

.exclusive__owner
{
  row-gap: 1rem;
}

.exclusive__owner-date
{
  font-size: var(--normal-font-size);
}

.exclusive__owner-enun
{
  font-family: var(--body-heading-font);
  font-weight: 500;
  font-size: var(--h2-font-size);
  color: #fff;
}

.exclusive__user
{
  align-items: center;
  column-gap: 1rem;
}

.exclusive__user-img
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.exclusive__user-type
{
  font-size: 1rem;
  color: var(---light-first-color);
}

.exclusive__user-name
{
  font-size: 1rem;
  color: var(--green-alt-color);
}

.exclusive__release
{
  margin-bottom: 1.5rem;
  row-gap: 1.5rem;
  width: 100%;
}

.exclusive__release-enun
{
  font-size: 1.25rem;
  color: var(---light-first-color);
}

.exclusive__date
{
  justify-content: center;
  column-gap: 1.2rem;
  width: 100%;
}

.exclusive__date-card
{
  width: 95px;
  height: 80px;
  border-radius: .8rem;
  padding: 1rem 2rem;
  background-color: #243467;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exclusive__date-card .date-number
{
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  font-weight: 700;
}

.exclusive__date-card .date-sect
{
  color: var(---light-first-color);
  font-family: var(--body-heading-font);
  font-weight: 700;
}


/* ==============POPULAR=================== */
.popular__container
{
  row-gap: 1.75rem;
}

.popular__content
{
  width: 100%;
  height: 350px;
  justify-self: center;
}

.popular__card
{
  width: 300px;
  height: 300px;
  background-color: #243467;
  padding: .8rem 1rem;
  row-gap: .8rem;
  border-radius: .8rem;
  margin-left: .8rem;
}

.popular__user
{
  width: 100%;
  height: 25%;
  align-items: center;
  justify-content: space-between;
}

.popular__user-data
{
  column-gap: .6rem;
  align-items: center;
}
.popular__user-img
{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.popular__info-type
{
  font-size: 1rem;
  color: var(---light-first-color);
}

.popular__info-name
{
  color: var(--green-alt-color);
}

.popular__user-int
{
  column-gap: .3rem;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}

.popular__gallery-img1{grid-area: first; height: 100%; width: 100%;}
.popular__gallery-img2{grid-area: second; height: 100%; width: 100%;}
.popular__gallery-img3{grid-area: third; height: 100%; width: 100%;}

.popular__gallery
{
  width: 100%;
  height: 75%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    'first second'
    'first third';
  position: relative;
}

.popular__gallery-img
{
  position: absolute;
  border-radius: .8rem;
}
/* Active link featured */


/*=============== JOIN ===============*/
.join__container
{
  width: 90%;
  height: auto;
  background-color: #243467;
  border-radius: .8rem;
  padding: 2rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.join__img1{grid-area: f; height: 100%; width: 100%;}
.join__img2{grid-area: s; height: 100%; width: 100%;}
.join__img3{grid-area: t; height: 100%; width: 100%;}


.join__card
{
  width: 300px;
  height: 300px;
  background-color: transparent;
  padding: 0;
  position: relative;
  border-radius: .8rem;
  gap: .8rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'f s'
  'f t';
  justify-content: center;
}
.join__image
{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: .8rem;
  object-fit: cover;
}

.join__title
{
  text-align: initial;
  margin-bottom: 1.25rem;
}

.join__input
{
  padding: .8rem;
  width: 100%;
  border-radius: .8rem;
  background-color: #1a264cf3;
  color: #fff;
  border: .1rem solid var(---light-first-color);
  margin-bottom: 1.25rem;
}

.join__input::placeholder
{
  color: #fff;
  font-size: .675rem;
}

.join__button
{
  margin: 0;
}

/*=============== FOOTER ===============*/
.footer
{
 position: relative;
 overflow: hidden;
 background-color: #14375474;
}

.footer__container
{
  row-gap: 2.5rem;
  position: relative;
}

.footer__logo
{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  transition: .3s;
}

.footer__title
{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
  color: #fff;
}

.footer__links
{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link,
.footer__social-link
{
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover,
.footer__social-link:hover
{
  color: #16D8FF;
}

.footer__social
{
  display: flex;
  column-gap: 1.5rem;
}

.footer__social-link
{
  font-size: 1.25rem;
  background-color: #013055;
  border-radius: .5rem;
  display: flex;
  padding: .5rem;
}

.footer__copy
{
  width: 90%;
  margin: 0 auto;
  border-top: solid .8px;
  padding-top: 5%;
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar
{
  width: 0.5rem;
  background-color: #011a20;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: #16D8FF;
  border-radius: 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup
{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #013055;
  color: #16D8FF;
  font-size: 1.15rem;
  z-index: var(--z-tooltip);
  transition: .2s;
  display: inline-flex;
  padding: .5rem;
  border-radius: 50%;
}

.scrollup:hover
{
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll
{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
