
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  ---light-first-color: #16D8FF;
  --dark-first-color: #529CB3;
  --green-alt-color: #C9D240;
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: #000709;
  --container-color: hsl(219, 4%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Basic', sans-serif;
  --body-heading-font: 'Orbitron', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #011114;
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem; 
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  justify-self: center;
  align-self: center;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header
{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav
{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle
{
  color: var(--title-color);
  display: inline-flex;
}

.nav__logo
{
  align-items: center;
  text-transform: uppercase;
  column-gap: .22rem;
  font-family: var(--body-heading-font);
  font-weight: 500;
  transition: .3s;
  font-size: 1.2rem;
}

.nav__logo img
{
  width: 1.25rem;
}


.nav__logo:hover
{
  color: var(---light-first-color);
}

.nav__toggle
{
  font-size: 1.25rem;
  cursor: pointer;
  transition: .375s;
}

@media screen and (max-width: 767px)
{

  body
  {
    /* background-image: url('../img/bg-body-image-1.jpg'); */
    background-color: #011114;
  }
  .nav__menu
  {
    position: fixed;
    background-color: #011a20;
    top: 0;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(96px); */
    transition: .3s;
    text-align: center;
  }
}

.nav__list
{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3.75rem;
  padding-top: 8rem;
}

.nav__link
{
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover
{
  color: var(---light-first-color);
  top: 1rem;
  right: 1rem;

}


/* LOG-IN BUTTON */
.nav__logIn
{
  display: block;
  color: var(--title-color);
  border: solid 1px var(--title-color);
  border-radius: .4rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 5.25rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 116px;
  padding: 16px;
  transition: .8s;

}
.nav__logIn:hover
{
  color: #16D8FF;
  border: solid 1px var(---light-first-color);
  border-radius: .6rem;
}
/* ______________ */


/* WALLET-BUTTON */
.nav__button
{
  background-color: transparent;
  color: var(--title-color);
  border: solid 1px var(--green-alt-color);
  padding: 18px 24px;
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  border-radius: .4rem;
}
.nav__button:hover
{
  color: #000;
  background-color: var(--green-alt-color);
}
/* ____________________ */


.nav__close
{
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}



/* Show menu */
.show-menu
{
  left: 0;
}

/* Change background header */
.scroll-header
{
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #011114;
  box-shadow: 0 3px 6px #529CB3;
  opacity: .990;
}
/* Active link */


/*=============== HOME ===============*/
.home
{
  position: relative;
  overflow: hidden;
}

.home__container
{
  position: relative;
  padding-top: 50px;
  row-gap: 1.5rem;
}

.home__data
{
  text-align: center;
}

.home__title
{
  font-size: var(--h1-font-size);
  margin-bottom: .15rem;
  font-family: var(--body-heading-font);
  color: var(--white-color);
  font-weight: 700;
}

.home__subtitle
{
  font-size: 1.4rem;
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  margin-bottom: 0.875rem;
}

.home__description
{
  font-size: .875rem;
}

/* CARDS */
.home__cards
{
  padding-top: 1rem;
}

.home__cards-info
{
  position: relative;
  width: 280px;
  background-color: #013055;
  height: 280px;
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.home__cards-img
{
  width: 280px;
  height: 225px;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.home__cards-info:hover .user__data-img
{
  transform: translateY(-.15rem);
  border: 1.5px solid var(--dark-first-color);
}


.home__cards-int
{
  background-color: transparent;
  width: 40px;
  height: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  column-gap: .2rem;
  top: 0;
  right: 0;
  margin-top: 0.875rem;
  margin-right: .675rem;
  display: none;
  cursor: pointer;
}

.appaer-int
{
  display: inline-flex;
}
/* ___________________________INTERACTION FUNC_________________ */
.home__cards-int i
{
  font-size: 1.05rem;
  color: var(---light-first-color);
}

.home__cards-number
{
  font-size: 1rem;
  color: var(---light-first-color);
}

/* CARDS-DETAILS */
.home__cards-user
{
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  width: 280px;
  position: absolute;
  bottom: 0;
  padding-bottom: 0.05rem;
}

.home__cards-user .user__data
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
}

.home__cards-user .user__current
{
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* CARDS DETAILS USER       DATA*/
.user__data-img
{
  width: 36px;
  height: 38px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 7.5px;
}

.user__data-info
{
  display: grid;
}

.user__data-name
{
  color: var(--green-alt-color);
  font-size: 0.75rem;
  font-weight: 400;
}

.user__data-timing
{
  color: var(---light-first-color);
  font-size: 0.595rem;
  font-weight: 400;
}

/* CARDS DETAILS CURRENT */
.user__current-img
{
  width: 13px;
  height: 17px;
  margin-left: .4rem;
  margin-right: .2rem;
}

.user__current-info
{
  display: grid;
  margin-left: .1rem;
}

.user__current-statement
{
  font-size: 0.625rem;
  color: #16D8FF;
  font-weight: 400;
  height: 15px;
  width: 60px;
}

.user__current-price
{
  font-size: .625rem;
  color: #16D8FF;
  font-weight: 400;
}

.user__current-button
{
  font-size: 0.575rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: #013055;
  border-radius: .3rem;
  margin-right: .65rem;
  padding: 0.15rem .7rem;
  outline: none;

}


/* HOME BUTTON */
.home__button
{
  /* margin-top: 1.25rem; */
  justify-self: center;
  display: inline-flex;
  column-gap: 1.5rem;
  align-items: center;
}

.home__button-primary
{
  display: inline-flex;
  justify-content: center;
  background-color: var(--green-alt-color);
  color: #000;
  padding: .675rem 1.25rem;
  border-radius: .5rem;
  font-weight: 500;
}

.home__button-secondary
{
  color: var(--green-alt-color);
  font-size: var(--h3-font-size);
  display: inline-flex;
  column-gap: .5rem;
  align-items: center;
  font-weight: 500;
}

.home__button-secondary i
{
  color: var(--green-alt-color);
  font-size: 28px;
  mix-blend-mode: blur(10px);
  animation: playButton 4s infinite;
  box-shadow: 0 0 10px var(--green-alt-color);
  border-radius: 50%;
}

@keyframes playButton 
{
  0%
  {
    box-shadow: 0 0 8px var(--green-alt-color);
  }
  50%
  {
    box-shadow: 0 0 24px var(--green-alt-color);
  }
}

/* CARD SHAPE */
.card__shape
{
  background-color: #b5f3ff;
  filter: blur(50px);
  border-radius: 50%;
  width: 280px;
  height: 250px;
  position: absolute;
  left: calc(50% - 135px);
  top: 280px;
}

/* Swiper class */
.swiper-pagination-bullet
{
  background-color: var(--white-color);
}
.swiper-pagination-bullet-active
{
  background-color: var(---light-first-color);
}
/* Button animate */


/*=============== BUTTON ===============*/


/*=============== WORK ===============*/
.work__container
{
  display: grid;
  row-gap: 1.5rem;
}

.work__title
{
  font-family: var(--body-heading-font);
  color: var(---light-first-color);
  font-size: var(--h2-font-size);
  justify-self: center;
  align-self: center;
}

.work__data
{
  justify-content: center;
  row-gap: 1.5rem;
}

.work__cards
{
  background-color: transparent;
  text-align: center;
  width: 240px;
  height: 200px;
}
/* =============WORKS-CARDS-IMAGE======== */
.work__cards-img
{
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  background-color: var(--green-alt-color);
  cursor: pointer;
}

.work__cards-img i
{
  color: #000;
  font-size: 1.5rem;
}
/* ______________________________________ */
/*==============WORKS-CARDS-DATA========== */
.work__cards-title
{
  color: var(--white-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--h3-font-size);
}
.work__cards-description
{
  font-size: .875rem;
}
/*___________________________________________*/

/*=============== POPULAR ===============*/





/*=============== FEATURES ===============*/


/*=============== FEATURED ===============*/


/* Active link featured */


/*=============== OFFER ===============*/


/*=============== LOGOS ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
